<div class="section px-2 px-lg-4 pb-4 pt-5 mb-5" id="contact">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">İletişim</h2>
        </div>
        <div class="row">
            @await Component.InvokeAsync("SendMessage")

            @await Component.InvokeAsync("ContactDetails")
        </div>
    </div>
</div>
