<div class="content-wrapper">
    <div class="row">

        <div class="col-11 mx-auto grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Service  Add</h4>
                    <form class="forms-sample" method="post">
                        <div class="form-group">
                            <label for="Title">Title</label>
                            <input type="text" class="form-control" id="Title" name="Title">
                        </div>
                  
                        <div class="form-group">
                            <label for="ImageUrl">ImageUrl</label>
                            <input type="text" class="form-control" id="ImageUrl" name="ImageUrl">
                        </div>

                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a href="/Admin/Service " class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>