@using Entities.Concrete
@model List<Portfolio>
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-11 mx-auto grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Portfolio Settings</h4>
                    <a class="btn btn-outline-primary w-100 my-2" href="/Admin/Portfolio/Add">Add Portfolio</a>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Images
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Settings
                                    </th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model){
                                    <tr>
                                        <td >
                                            <img src="~/images/portfolio/@item.ImageUrl" alt="image" />
                                        </td>
                                        <td>
                                           @item.Name
                                        </td>
                                        <td>
                                            @(item.Description.Length <= 30 ? item.Description : item.Description.Substring(0, 30) + "...")
                                        </td>

                                        <td>
                                            <a class="badge badge-success" href="/Admin/Portfolio/Update/@item.Id">Update</a>
                                            <a class="badge badge-danger" href="/Admin/Portfolio/Delete/@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>