<div class="content-wrapper">
    <div class="row">

        <div class="col-11 mx-auto grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Portfolio Add</h4>
                    <input type="hidden" class="form-control"  name="Id" value="@Model.Id">

                    <form class="forms-sample" method="post">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
                        </div>
                        <div class="form-group">
                            <label for="Description">Description</label>
                            <textarea class="form-control" rows="4 id="Description" name="Description">@Model.Description</textarea>
                        </div>

                        <div class="form-group">
                            <label for="ImageUrl">ImageUrl</label>
                            <input type="text" class="form-control" id="ImageUrl" name="ImageUrl" value="@Model.ImageUrl">
                        </div>

                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a href="/Admin/Portfolio" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>