<!DOCTYPE html>
<!-- upto 2 directory depth-->
<html lang="en-US">

@await Html.PartialAsync("HeaderPartial")

<body id="top">

    @await Html.PartialAsync("NavbarPartial")

    @RenderBody()

    @await Html.PartialAsync("FooterPartial")

    <div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i class="fas fa-angle-up fa-x"></i></span></a></div>
    <script src="~/scripts/imagesloaded.pkgd.min.js?ver=1.2.0"></script>
    <script src="~/scripts/masonry.pkgd.min.js?ver=1.2.0"></script>
    <script src="~/scripts/BigPicture.min.js?ver=1.2.0"></script>
    <script src="~/scripts/purecounter.min.js?ver=1.2.0"></script>
    <script src="~/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
    <script src="~/scripts/aos.min.js?ver=1.2.0"></script>
    <script src="~/scripts/main.js?ver=1.2.0"></script>
 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
