<!DOCTYPE html>
<!-- upto 2 directory depth-->
<html lang="en-US">

@await Html.PartialAsync("HeaderPartial")

<body id="top">

    @await Html.PartialAsync("NavbarPartial")

    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
