<div class="page-content">
    <div id="content">

        @await Component.InvokeAsync("FeatureList")

        @await Component.InvokeAsync("AboutList")

        @await Component.InvokeAsync("ServiceList")

        @await Component.InvokeAsync("SkillList")

        @await Component.InvokeAsync("PortfolioList")

        @await Component.InvokeAsync("ExperienceList")

        @await Component.InvokeAsync("TestimonialList")

        @await Component.InvokeAsync("ContactList")


    </div>
</div>
