<div class="col-md-8 mx-auto">
    <div class="card my-5">
        <div class="text-center my-4">
            <img src="~/images/portfolio/@Model.ImageUrl" alt="..." class="img-fluid">
        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">
                @Model.Description
            </p>
        </div>
        <a href="/#portfolio" class="w-100 btn btn-outline-info my-3">Geri Dön</a>
    </div>
</div>
